h2{
    text-align: center;
    margin-top: 7%;
    color: #818181;
}
.center{
    border: 1px solid #3ADDD6;
    width: 90%;
    margin-left: 5%;
    margin-top: -0.5px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 8%;
}
th {
    height: 50px;
    text-align: left;
    font-size: 25px;
    color: #818181;
}
td{
    font-size: 20px;
    color: #818181;
}
.pagination{
    margin-left: 5%;
    margin-top: 2%;
}
input{
    width: 15%;
    height: 40px;
    background-color: #3ADDD6;
    border-color: #3ADDD6;
    color: white;
    font-size: 18px;
}
.button_suivant{
    float: right;
    margin-right: 5%;
}